/*
  Primary color-  #0c92f3
  Seconday color - #f8f9fa
*/

.main {
  margin: 0px;
  padding: 0px;
  position: relative;
  color: #0c92f3;
}

#site-layout {
  margin-right: 50%;
  background-color: #fff;
}

#main-header {
  position: fixed;
  z-index: 1;
  padding: 0;
  width: 100%;
  background-color: #0c92f3;
  color: #fff;
}

#left-main-content {
  margin: 24px 16px 0;
  overflow: initial;
  height: 100vh;
}

#sider-content {
  overflow: auto;
  height: 100vh;
  position: fixed;
  right: 0;
  background-color: #f8f9fa;
}

#footer {
  text-align: center;
  background-color: #fff;
}
