#book-card {
  width: 220px;
  position: relative;
  overflow: hidden;
  height: 350px;
  margin-bottom: 30px;
}

#action-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

#book-card-image-wrapper {
  width: 100%;
  height: 280px;
  background-color: #f8f9fa;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 22px;
}

.title {
  font-weight: 700;
  font-size: 14px;
}

.book-title {
  color: #3b5260;
}

.book-author {
  color: #b9c6ce;
}
